@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  min-width: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;